<p style="color: green"><%= notice %></p>

<div class="jumbotron jumbotron-events" >
  <div class="container" >
    <div class="page-header text-center">
      <p>
        <h3>My Rewards</h3>
      </p>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th >Description</th>
        </tr>
      </thead>
      <tbody>
        <% @rewards.each do |reward| %>
          <tr>
            <td><%= reward.name %></td>
            <td><%= reward.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
