<div class="container-fluid">

<div class="container">
  <!-- Title -->
  <div class="d-flex justify-content-between align-items-center py-3">
    <h2 class="h5 mb-0"><a href="#" class="text-muted"></a> loyalty Points</h2>
  </div>

  <!-- Main content -->
  <div class="row">
    <div class="col-lg-8">
      <!-- Details -->
      <div class="card mb-4">
        <div class="card-body">
          <div class="mb-3 d-flex justify-content-between">
          </div>
          <table class="table">
            <tbody>
              <tr class="fw-bold">
                <td>Total Points</td>
                <td class="text-end"><%= @total_points %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Payment -->
    </div>
  </div>
</div>
</div>